# Label And Ordinal Encoding

In [1]:
import pandas as pd

In [11]:
from sklearn.preprocessing import LabelEncoder

In [13]:
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.DataFrame({'color':['red' , 'blue' , 'green', 'green' , 'red', 'blue']})

In [4]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [8]:
## create an instance of lable encoder

encoder = LabelEncoder()

In [9]:
encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

# Ordinal Encoding

In [20]:
df = pd.DataFrame({'size':['small' ,'medium' ,'large' ,'medium' ,  'small' , 'large']})
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [21]:
encoder = OrdinalEncoder(categories=[['large' ,'medium' , 'small' ]]) # here we assign rank , u can also change it large small medium

In [22]:
encoder.fit_transform(df[['size']])

array([[2.],
       [1.],
       [0.],
       [1.],
       [2.],
       [0.]])