# Handling Imbalanced Dataset
# 1- Up Sampling
# 2- Down Sampling

In [1]:
import numpy as np
import pandas as pd

In [2]:
# set the random seed or variable. /fixed not change
np.random.seed(123)

n_sample = 1000
class_0_ratio=0.9
n_class_0= int(n_sample * class_0_ratio)
n_class_1 = n_sample - n_class_0

In [3]:
n_class_0 , n_class_1

(900, 100)

In [4]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1 , size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1 , size=n_class_0),
    'target':[0]* n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1 , size=n_class_1),
    'feature_2': np.random.normal(loc=0, scale=1 , size=n_class_1),
    'target':[1]* n_class_1
})

In [5]:
class_0

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [6]:
class_1

    feature_1  feature_2  target
0   -0.300232   0.139033       1
1   -0.632261   0.025577       1
2   -0.204317  -0.196443       1
3    0.213696   1.312255       1
4    1.033878   1.187417       1
..        ...        ...     ...
95  -0.623629   0.845701       1
96   0.239810  -1.119923       1
97  -0.868240  -0.359297       1
98   0.902006  -1.609695       1
99   0.697490   0.013570       1

[100 rows x 3 columns]

In [7]:
df=  pd.concat([class_0, class_1]).reset_index(drop= True)
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [8]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

# Upsampling / Oversampling (Increasing the Smaller Group)

In [9]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [10]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [11]:
df_minority.head()

     feature_1  feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1

In [12]:
## upsampling perform

from sklearn.utils import resample

In [13]:
df_minority_upsampling = resample(df_minority, 
                                 replace =True, # sample with repalcement
                                  n_samples=len(df_majority), # to match the majority class
                                  random_state= 42)

In [14]:
df_minority_upsampling.shape

(900, 3)

In [16]:
df_minority_upsampling['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [17]:
df_upsampled= pd.concat([df_majority, df_minority_upsampling])

In [53]:
print("Class distribution after upsampling:")
print(df_upsampled['target'].value_counts())

Class distribution after upsampling:
target
0    900
1    900
Name: count, dtype: int64

# Downsampling / Undersampling (Reducing the Bigger Group)

In [21]:
class_0, class_1

(     feature_1  feature_2  target
 0    -1.085631   0.551302       0
 1     0.997345   0.419589       0
 2     0.282978   1.815652       0
 3    -1.506295  -0.252750       0
 4    -0.578600  -0.292004       0
 ..         ...        ...     ...
 895   0.238761  -0.003155       0
 896  -1.106386  -0.430660       0
 897   0.366732  -0.146416       0
 898   1.023906   1.160176       0
 899  -0.210056  -0.641512       0

 [900 rows x 3 columns],
     feature_1  feature_2  target
 0   -0.300232   0.139033       1
 1   -0.632261   0.025577       1
 2   -0.204317  -0.196443       1
 3    0.213696   1.312255       1
 4    1.033878   1.187417       1
 ..        ...        ...     ...
 95  -0.623629   0.845701       1
 96   0.239810  -1.119923       1
 97  -0.868240  -0.359297       1
 98   0.902006  -1.609695       1
 99   0.697490   0.013570       1

 [100 rows x 3 columns])

In [22]:
df= pd.concat([class_0, class_1]).reset_index(drop=True)

In [23]:
df

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

[1000 rows x 3 columns]

In [24]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [46]:
df_majority_downsampling = resample(df_majority, 
                                 replace =False, # sample without repalcement
                                  n_samples=len(df_minority) # to match the minority class
                                 )

In [47]:
df_majority_downsampling.shape

(100, 3)

In [48]:
df_downsampling = pd.concat([df_minority, df_majority_downsampling])

In [50]:
df_downsampling['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

In [ ]:
resample() create a smaller, balanced dataset.
replace=False → Samples without replacement (no duplicates).

In [34]:
------------------------------------------------------------

In [45]:
data ={'faeture': range(100), 'class':[0]*90 + [1]*10}
df= pd.DataFrame(data)
df

    faeture  class
0         0      0
1         1      0
2         2      0
3         3      0
4         4      0
..      ...    ...
95       95      1
96       96      1
97       97      1
98       98      1
99       99      1

[100 rows x 2 columns]